@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body{
    /* width: 1440px;
    height: 1024px; */
    width: 100%;
    height: 100%;
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

    .title{
        display: flex;
        position: relative;
        /* display: inline; */
        flex-direction: row;
        justify-content: space-between;
    }

    .title-text{
        font-size: 28px;
        font-weight: 500;
        display: inline-block;
        /* padding: 20px; */
        /* margin-left: 20px; */
        padding-left: 25px;
        padding-right: 25px;
    }

    .search-bar{
        display: flex;
        padding: 20px;
        width: 184px;
        position: relative;
        /* padding-right: px; */
        /* box-sizing: border-box; */


    }

    .search-bar input {
        width: 100%;
        padding: 10px;
        padding-right: 40px; /* Space for the icon */
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 14px;
    }

    .search-box{
        padding: 20px;
        position: absolute;

    }
    
    .search-bar .fas{
        
        position: absolute;
        top: 40%;
        pointer-events: none;
        z-index: 100000;
        padding-left: 70%;
        
    }

    .TTSflex-container{
        display: flex;
        flex-direction: row;
    }

    aside {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        background-color: darkgray;
        
        width: 240px;
        
    }

    .Sidebar-navigation ul{
        list-style: none;
        display: flex;
        flex-direction: column;

        
    }

    .Sidebar-navigation{
        height: 100vh;
    }

    .Sidebar-navigation ul li{
        padding-right: 20px;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
        text-decoration: none;
        position: relative;
        
        
    }

    .Sidebar-navigation ul li a{
        text-decoration: none;
        color: black;
        text-align: center;
        margin-left: 25px;
        align-items: center;
        font-size: 16px;

    }

    
    .Sidebar-navigation ul li::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px; /* Sesuaikan lebar ikon */
        height: 20px; /* Sesuaikan tinggi ikon */
        background: url('assets/frame.png') no-repeat center center; /* Ganti 'icon.png' dengan URL ikon yang Anda pilih */
        background-size: contain; /* Menyesuaikan ukuran gambar ikon */
        
    }

    .Sidebar-navigation ul li a:hover {
        color: #d7d7d7;
    }


    